{# Page layout #}

{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="finance, management, app" />
        <meta name="description"
              content="{% block description %}Your personal finance manager{% endblock description %}" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">

        {# djlint:off #}
        <title>pennywise | {% block title %}Your personal finance manager{% endblock title %}</title>
        {# djlint:on #}

        {% block css %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock css %}

        {% block js %}
            <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>
            <script src="{% static 'js/htmx/multi-swap.min.js' %}" defer></script>
            <script src="{% static 'js/htmx/disable-element.min.js' %}" defer></script>
        {% endblock js %}
    </head>

    <body hx-ext="multi-swap,disable-element">
        {% block body %}
            <main>
                <p>Hey developer! You forget to add the content of this page 🫣</p>
            </main>
        {% endblock body %}
    </body>
</html>
