{# Sign in page #}

{% extends "layouts/page.html" %}

{% load static %}

{# djlint:off #}
{% block description %}Sign in page{% endblock description %}
{% block title %}Sign in{% endblock title %}
{# djlint:on #}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet"
          href="{% static 'css/pages/authentication/sign-in.css' %}">
{% endblock css %}

{% block body %}
    <main>
        <section class="sign-in-form">
            <div class="sign-in-form__card">
                <h1 class="sign-in-form__card--title">Sign in</h1>

                <form class="sign-in-form__card__form" id="sign-in-form">
                    <div class="sign-in-form__card__form__field">
                        <label class="sign-in-form__card__form__field--label" for="email">Email</label>

                        <input class="sign-in-form__card__form__field--input"
                               name="email"
                               placeholder="pennywise@gmail.com"
                               autocomplete="email" />
                    </div>

                    <div class="sign-in-form__card__form__field">
                        <label class="sign-in-form__card__form__field--label" for="password">Password</label>

                        <input class="sign-in-form__card__form__field--input"
                               name="password"
                               type="password"
                               placeholder="*********"
                               autocomplete="current-password" />
                    </div>
                </form>

                <p class="sign-in-form__card--sign-up">
                    Do you not have an account? <a href="{% url 'home' %}">Sign up</a>
                </p>

                <button class="sign-in-form__card--form-button" form="sign-in-form">Send</button>
            </div>
        </section>
    </main>
{% endblock body %}
