{# Sign up page #}

{% extends "layouts/page.html" %}

{% load static %}

{# djlint:off #}
{% block description %}Sign up page{% endblock description %}
{% block title %}Sign up{% endblock title %}
{# djlint:on #}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet"
          href="{% static 'css/pages/authentication/sign-up.css' %}">
{% endblock css %}

{% block body %}
    <main>
        <section class="sign-up-form">
            <div class="sign-up-form__card">
                <h1 class="sign-up-form__card--title">Sign up</h1>

                <form class="sign-up-form__card__form"
                      id="sign-up-form"
                      hx-post="{% url 'sign-up' %}"
                      hx-swap="multi:#email-error:outerHTML,#password-error:outerHTML,#account-error:outerHTML"
                      hx-indicator="#sign-up-form-button"
                      hx-disable-element="#sign-up-form-button">
                    {% csrf_token %}

                    {% include "components/error/error-recipient.html" with origin="account" %}

                    <div class="sign-up-form__card__form__field">
                        <label class="sign-up-form__card__form__field--label" for="first_name">First name</label>

                        <input class="sign-up-form__card__form__field--input"
                               name="first_name"
                               placeholder="Pennywise"
                               autocomplete="given-name" />

                        {% include "components/error/error-recipient.html" with origin="username" %}
                    </div>

                    <div class="sign-up-form__card__form__field">
                        <label class="sign-up-form__card__form__field--label" for="username">Username</label>

                        <input class="sign-up-form__card__form__field--input"
                               name="username"
                               placeholder="pennywise152"
                               autocomplete="username" />

                        {% include "components/error/error-recipient.html" with origin="username" %}
                    </div>

                    <div class="sign-up-form__card__form__field">
                        <label class="sign-up-form__card__form__field--label" for="email">Email</label>

                        <input class="sign-up-form__card__form__field--input"
                               name="email"
                               placeholder="pennywise@gmail.com"
                               autocomplete="email" />

                        {% include "components/error/error-recipient.html" with origin="email" %}
                    </div>

                    <div class="sign-up-form__card__form__field">
                        <label class="sign-up-form__card__form__field--label" for="password">Password</label>

                        <input class="sign-up-form__card__form__field--input"
                               name="password"
                               type="password"
                               placeholder="*********"
                               autocomplete="current-password" />

                        {% include "components/error/error-recipient.html" with origin="password" %}
                    </div>
                </form>

                <p class="sign-up-form__card--sign-in">
                    Do you already have an account? <a href="{% url 'sign-in' %}">Sign in</a>
                </p>

                <button class="sign-up-form__card--form-button"
                        id="sign-up-form-button"
                        form="sign-up-form">
                    Send

                    {% include "icons/loading.html" with width="16" height="16" style="display: none;" %}
                </button>
            </div>
        </section>
    </main>
{% endblock body %}
